/* Font */
*, *::before *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier;
    font-weight: normal;
}

/* Creates gradient background */
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #ba1a1a, #5f1aba)
}


.mapInput {
    display: flex;
    
    justify-content: center;
    position: relative;

}

.update {
    display: flex;
    justify-content: center;
}
