/* Font */
*, *::before *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier;
    font-weight: normal;
}

/* Creates gradient background */
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #ba1a1a, #5f1aba)
}


.grid {
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    justify-content: center;
    align-items: center;
}

.update {
    display: flex;
    justify-content: center;
    background-color: red;
    font-size: 15px;
    height: 45px;
    width: 100px;
    position: absolute;
    border: 1px solid rgba(59,58,58, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

.matrix {
    display: flex;
    justify-content: center;
    background-color: red;
    top: 20%;
    font-size: 15px;
    height: 60px;
    width: 100px;
    position: absolute;
    border: 1px solid rgba(59,58,58, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

.output {
    display: flex;
    justify-content: center;
}
