/* Font */

@font-face {
    font-family: Splatoon5;
    src: url(../Splatoon2.otf);
}
*, *::before *::after {
    box-sizing: border-box;
    font-family: Splatoon5;
    font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Creates gradient background */
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #8C92AC, #bbbdc5);
}

.generator{
    font-family: Splatoon5;
    line-height: 25px;
    background-color: red;
    font-size: 15px;
    height: 55px;
    width: 100px;
    position: static;
    border: 1px solid rgba(59,58,58, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

.grid {
    font-family: Splatoon5;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    justify-content: center;
}




.update {
    font-family: Splatoon5;
    line-height: 25px;
    display: flex;
    justify-content: center;
    background-color: #1599C0;
    font-size: 15px;
    margin-top: 20px;
    height: 55px;
    width: 100px;
    position: absolute;
    border: 1px solid rgba(59,58,58, 0.2);
    border-radius: 10px;
    cursor: pointer;
}


.SplatZones {
    background-color: rgba(99,192,225,0.5);
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.TowerControl{
    padding-left: 10px;
    background-color: rgba(189, 209, 216, 0.5);
}

.Rainmaker {
    padding-left: 10px;
    background-color: rgba(99,192,225,0.5);
}
.ClamBlitz{
    padding-left: 10px;
    background-color: rgba(189, 209, 216, 0.5);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.grid2 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: Splatoon5;
    display: inline-grid;
    grid-template-columns: 25% repeat(4, 10%);
    grid-template-rows: repeat(13, 30px);
    font-size: 18px;
    grid-gap: 0px 40px;
}

.maps {
    
}

.SplatZones2{
    width: 120px;
    height: 390px;
}

.TowerControl2{
    width: 120px;
}

.Rainmamker2{
    width: 120px;
}

.Clamblitz2{
    width: 120px;
}

.map1 {
    
}

.map {
    margin-top: 27px;
    margin-bottom: 27px;

}

.map2{
    margin-top: 27px;
    margin-bottom: 27px;
    background-color: rgba(99,192,225,0.5);
    line-height: 19px;
}

.map3 {
    margin-top: 27px;
    margin-bottom: 27px;
    background-color: rgba(189, 209, 216, 0.5);
    line-height: 19px;
}

.InputSZ {
    width: 30px;   
    height: 30px; 
    font-size: 15px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 12px;
    margin-right: 12px;
}

.InputTC {
    width: 30px;   
    height: 30px; 
    font-size: 15px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 12px;
    margin-right: 12px;
}

.InputRM {
    width: 30px;   
    height: 30px; 
    font-size: 15px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 12px;
    margin-right: 12px;
}

.InputCB {
    width: 30px;   
    height: 30px; 
    font-size: 15px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 12px;
    margin-right: 12px;
}

.matrix {
    display: flex;
    justify-content: center;
    background-color: red;
    top: 20%;
    font-size: 15px;
    height: 60px;
    width: 100px;
    position: absolute;
    border: 1px solid rgba(59,58,58, 0.4);
    border-radius: 10px;
    cursor: pointer;
}


.output {
    display: flex;
    justify-content: center;
}
