/* Font */
*, *::before *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier;
    font-weight: normal;
}

/* Creates gradient background */
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #422c2a, #4d4342);
}

.MapMaker {
    display: flex;
    
    justify-content: center;
    height: 100vh;
    position: relative;
}

.output {
    background-color: rgba(156, 51, 51, 0.8);
    height: 200px;
    width: 400px;
    display: flex;
    padding: 10px;
    word-wrap: break-word;
    overflow: scroll;
    position: absolute;
    bottom: 25%;
    border: 2px rgba(59,58,58,0.6);
    border-radius: 25px;
    
}

.maplist {
    color: white
}

.mapNumber {
    font-size: 24px;
    background-color: grey;
    height: 50px;
    width: 62px;
    position: absolute;
    top: 39%;
    right: 59.75%;
    border: 1px solid rgba(59,58,58, 0.4);
    border-radius: 10px;
}

.generate {
    background-color: red;
    font-size: 20px;
    height: 35px;
    width: 100px;
    position: absolute;
    top: 40%;
    right: 35.5%;
    border: 1px solid rgba(59,58,58, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

.copy {
    background-color: grey;
    font-size: 20px;
    height: 35px;
    width: 60px;
    position: absolute;
    top: 40%;
    right: 48%;
    border: 1px solid rgba(59,58,58, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

.select {
    font-size: 15px;
    background-color: white;
    height: 35px;
    width: 100px;
    position: absolute;
    top: 32.5%;
    right: 46.5%;
    cursor: pointer;
}
