/* Font */

@font-face {
    font-family: Splatoon5;
    src: url(Splatoon2.otf);
}
*, *::before *::after {
    box-sizing: border-box;
    font-family: Splatoon5;
    font-weight: normal;
}

/* Creates gradient background */
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #8C92AC, #bbbdc5);
}

.selectMaps{
    font-family: Splatoon5;
    line-height: 25px;
    background-color: red;
    font-size: 15px;
    height: 55px;
    width: 100px;
    position: static;
    border: 1px solid rgba(59,58,58, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

.MapMaker {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 430px;
    position: relative;
    top: 20vh;
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    border-color: rgb(123, 125, 131);
    background-color: rgb(123, 125, 131);
}



.select {
    font-family: Splatoon5;
    line-height: 25px;
    font-size: 15px;
    background-color: rgb(128, 144, 158);
    height: 35px;
    width: 100px;
    position: absolute;
    top: 15px;
    left: 165px; 
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(59,58,58, 0.4);
    border-radius: 10px;
}

.mapNumber {
    font-family: Splatoon5;
    font-size: 24px;
    background-color: #1599C0;
    height: 50px;
    width: 62px;
    position: absolute;
    top: 115px;
    left: 5px;;
    border: 1px solid rgba(59,58,58, 0.2);
    border-radius: 10px;
}

.generate {
    font-family: Splatoon5;
    line-height: 25px;
    background-color: #1599C0;
    font-size: 20px;
    height: 35px;
    width: 100px;
    position: absolute;
    top: 115px;
    left: 320px;
    border: 1px solid rgba(59,58,58, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

.copy {
    margin: auto;
    font-family: Splatoon5;
    line-height: 25px;
    background-color: rgb(128, 144, 158);
    font-size: 20px;
    height: 35px;
    width: 60px;
    position: absolute;
    top: 115px;
    left: 185px;
    border: 1px solid rgba(59,58,58, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

.output {
    font-family: Splatoon5;
    line-height: 23px;
    background-color: rgba(143, 161, 170, 0.5);
    padding: 10px;
    word-wrap: break-word;
    overflow-y: scroll;
    position: absolute;
    height: 200px;
    width: 400px;
    top: 215px;
    display: flex;
    border: 2px rgba(59,58,58,0.6);
    border-radius: 25px;
}

.maplist {
    color: white
}








